.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.container button, 
.container input, 
.container label {
  font-family: "Playfair Display", serif;
}
.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 75px;
  padding-bottom: 100px;
  gap: 50px;
}
.mobileProfile .divider {
  height: 0.5px;
  width: 100%;
  background-color: #1F1B17;
  border-radius: 99px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mobileProfile .rating {
  margin-top: 0px;
  font-size: 1.125rem;
}
.mobileProfile .rating span {
  opacity: 75%;
  font-size: 0.9rem;
}
.mobileProfile .rating img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  margin-right: 5px;
  border: none;
}
.mobileProfile {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: none;
}
.mobileProfile .profileTop {
  height: 350px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.mobileProfile .bannerWrapper {
  height: 400px;
  width: 100%;
  z-index: 1;
  border-radius: 25px;
}
.mobileProfile .bannerWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.mobileProfile .avatarWrapper {
  position: relative;
}
.mobileProfile .avatar {
  position: absolute;
  height: 125px;
  width: 125px;
  z-index: 2;
  bottom: -10px;
  margin-left: 15px;
  border-radius: 99px 99px 15px 15px;
  object-fit: cover;
}
.mobileProfile .edgeLeft, 
.mobileProfile .edgeRight {
  width: 15px;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.mobileProfile .edgeRight {
  left: 140px;
  transform: scaleX(-1);
}
.mobileProfile .profileInfo {
  margin-top: 10px;
  margin-left: 15px;
}
.mobileProfile .profileInfo h2 {
  margin: 25px 0 0;
  font-size: 1.5rem;
  padding: 0;
}
.mobileProfile .profileInfo p {
  font-size: 1.125rem;
  margin-top: 5px;
  font-style: italic;
}
.mobileProfile .sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.mobileProfile .sectionHeader h3 {
  font-size: 1.75rem;
  margin: 0;
}
.mobileProfile .venuesSection {
  margin-top: 50px;
  scroll-margin-top: 100px;
}
.mobileProfile .venueGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  max-width: 100%;
  gap: 25px;
  position: relative;
  align-items: start;
  height: 100%;
}
.mobileProfile .venueGrid > * {
  aspect-ratio: 3 / 4;
  max-width: 400px;
  width: 100%;
  height: 100%;
  justify-self: center;
}





.tabletProfile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabletProfile .divider {
  height: 0.5px;
  width: calc(100%-50px);
  background-color: #1F1B17;
  border-radius: 99px;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.tabletProfile .rating {
  margin-top: 0px;
  font-size: 1.125rem;
}
.tabletProfile .rating span {
  opacity: 75%;
  font-size: 0.9rem;
}
.tabletProfile .rating img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  margin-right: 5px;
  border: none;
}
.tabletProfile .profileTop {
  height: 550px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.tabletProfile .bannerWrapper {
  height: 400px;
  width: 100%;
  z-index: 1;
  border-radius: 25px;
}
.tabletProfile .bannerWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.tabletProfile .avatarWrapper {
  position: relative;
}
.tabletProfile .avatar {
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 2;
  bottom: -10px;
  margin-left: 35px;
  border-radius: 99px 99px 5px 5px;
  object-fit: cover;
}
.tabletProfile .edgeLeft, 
.tabletProfile .edgeRight {
  width: 25px;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.tabletProfile .edgeLeft {
  left: 10px;
}
.tabletProfile .edgeRight {
  left: 235px;
  transform: scaleX(-1);
}
.tabletProfile .profileInfo {
  margin-top: 5px;
  margin-left: 25px;
}
.tabletProfile .profileInfo h2 {
  margin: 25px 0 0;
  font-size: 2.5rem;
  padding: 0;
  width: 100%;
}
.tabletProfile .profileInfo p {
  font-size: 1.125rem;
  margin-top: 5px;
  font-style: italic;
}
.tabletProfile .sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.tabletProfile .sectionHeader h3 {
  font-size: 2.5rem;
  margin: 0;
}
.tabletProfile .venuesSection {
  margin-top: 50px;
  height: fit-content;
  padding-bottom: 25px;
  scroll-margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
.tabletProfile .venueGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  max-width: 100%;
  gap: 25px;
  position: relative;
  align-items: start;
  height: fit-content;
}
.tabletProfile .venueGrid > * {
  aspect-ratio: 3 / 4;
  max-width: 400px;
  width: 100%;
  height: 100%;
  justify-self: center;
  margin-bottom: 50px;
}

.sortDropdown {
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: "Playfair Display", serif;
  background-color: #fffefb;
  cursor: pointer;
  margin: 0;
}

.gobackBtn button {
  background-color: white;
  border: solid 1px #1F1B17;
  color: #1F1B17;
  border-radius: 10px;
  padding: 5px;
  transition: 0.25s;
  position: absolute;
  right: 25px;
  top: 475px;
  font-size: 1rem;
}
.gobackBtn button:hover {
  transition: 0.25s;
  cursor: pointer;
  background-color: #1F1B17;
  color: #fffefb;
}


@media (max-width: 1025px) {
  .profilePage {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .contentContainer h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 725px) {
  .profilePage {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
@media (max-width: 425px) {
  .tabletProfile {
    display: none;
  }

  .profilePage {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .mobileProfile {
    display: block;
  }
}
