.pageContent {
    min-height: 100vh;
    height: 100%;
    margin-top: 75px;
    display: flex;
    gap: 2.5%;
    padding-bottom: 150px;
    margin-bottom: 100px;
    color: #1F1B17;
    font-family: "Playfair Display", serif;
    flex-direction: row;
    position: relative;
}

.profilePage {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 100%;
    position: relative;
}

.leftSection {
    position: sticky;
    height: 90vh;
    width: 40%;
    min-width: 350px;
    margin-left: 5%;
}

.leftBorder {
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 100%;
}

.profileLeftTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-bottom: 50px;
    position: relative;
}

.profileLeftTop img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 99px 99px 5px 5px;
}

.profileLeftTop h3 {
    position: absolute;
    bottom: -35px;
    font-size: 1rem;
    background-color: #1F1B17;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0px 0px 5px 5px;
    height: 35px;
}

.signOutButton {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    width: 95px;
    height: 35px;
    background-color: #1F1B17;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    transition: 0.25s;
}

.signOutButton:hover {
    cursor: pointer;
    transition: 0.25s;
    background-color: #B88A44;
}

.rightSection {
    width: 100%;
    min-width: 100%;
    position: relative;
}
