.firstSection {
  width: 100%;
  height: 97vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.heroSection {
  width: 83.6%;
  display: flex;
  justify-content: center;
  position: relative;
}
.bannerFilters {
    width: 100%;
    height: 80px;
    bottom: 0;
    margin-bottom: -1px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.edgeLeft {
    width: 25px;
    height: 35px;
    object-fit: fill;
}
.edgeRight {
    width: 25px;
    height: 35px;
    object-fit: fill;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.searchButtonFirst {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filterContent {
    width: calc(100% - 3%);
    height: 80px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F0EB;
    border-radius: 25px 25px 0px 0px;
}
.filterContentSecond {
  width: 100%;
  height: 175px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #F3F0EB;
  border-radius: 15px 15px 0px 0px;
}
.filterContentSecond .allFilters {
  width: 100%;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.filterContentSecond .allFilters .filtersColumns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.filtersColumnsBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
  height: 30px;
}
.filtersColumns .filterCalender, .filtersColumns .filterPeople {
  width: 100%;
  height: 40px;
}
.filtersColumns .filterDestination {
  width: 100%;
  height: 40px;
}
.filtersColumns .filterDestination input, .filtersColumns .filterCalender input, .filtersColumns .filterPeople input{
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1.125rem;
  color: #1F1B17;
  cursor: pointer;
  z-index: 996;
}
.filtersColumns .filterDestination input {
  padding-left: 35px;
  margin-left: -25px;
}
.filtersColumns .filterCalender input {
  padding-left: 35px;
  padding-right: 5px;
  margin-left: -35px;
  font-size: 0.9rem;
}
.allFilters {
  display: flex;
  flex-direction: row;
  gap: 7.5px;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.filtersLeft {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 70%;
}
.filterDestination {
    min-width: 300px;
    width: 100%;
}
.filterCalender {
  width: 75%;
}
.filterDestination, .filterCalender, .filterPeople {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    z-index: 996;
    position: relative;
}
.filterDestination i, .filterCalender i, .filterPeople i {
    width: 35px;
    min-width: 35px;
    height: 35px;
    object-fit: contain;
    background-color: transparent;
    color: #1f1b17e4;
    margin-right: -10px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    z-index: 997;
}
.filterDestination input {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    padding-left: 35px;
    margin-left: -25px;
    border: none;
    z-index: 1;
    width: 100%;
    font-size: 1.125rem;
    color: #1F1B17;
    z-index: 996;
    cursor: pointer;
    border: 1px solid #ddd;
}
.filterCalender input {
    width: 20%;
    left: 10%;
    border-radius: 10px;
    height: 100%;
    padding-left: 35px;
    padding-right: 5px;
    margin-left: -35px;
    border: none;
    z-index: 1;
    font-size: 0.9rem;
    color: #1F1B17;
    z-index: 996;
    cursor: pointer;
    border: 1px solid #ddd;
}
.filterCalender .startDateFilter, .filterCalender .endDateFilter {
    z-index: 3;
    background-color: white;
    min-width: 140px;
    width: 50%;
}
.filterPeople {
    position: relative;
    width: 25%;
    height: 100%;
    margin-right: 25px;
}
.suggestionsList {
    position: absolute;
    top: 0;
    padding-top: 1.5rem;
    width: 100%;
    padding-left: 0;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    font-size: 1rem;
    z-index: 995;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  } 
  .suggestionsList li {
    list-style: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
    padding-left: 50px;
  }
  .suggestionsList li:hover {
    cursor: pointer;
    background-color: #f0f0f0;
  }
  .filterCalender {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    position: relative;
  }
  .costumCalenderPosition {
    position: absolute;
    top: -465px;
    min-width: 350px;
    width: fit-content;
    transition: 0.25s;
  }
  .fa-calendar-days {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }
  input[type="date"] {
    z-index: 1;
  }
  .guestSelector {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-left: -25px;
    height: 40px;
    width: 100%;
    min-width: 225px;
    position: relative;
    cursor: pointer;
    z-index: 777;
    border: 1px solid #ddd;
  }
  .guestSelector p {
    margin: 0;
    font-size: 1.125rem;
    color: #1F1B17;
  }
  .dropdownMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: -400%;
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    padding: 10px;
    z-index: 777;
  }
  .dropdownMenu.open {
    display: flex;
  }
  .dropdownRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }
  .label {
    font-size: 1rem;
    color: #1F1B17;
  }
  .counterControls {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .counterControls button {
    width: 28px;
    height: 28px;
    background-color: #B88A44;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    transition: 0.25s;
  }
  .counterControls button:hover {
    transition: 0.25s;
    cursor: pointer;
    background-color: #6B7A3A;
  }
  .counterControls span {
    font-size: 1rem;
    min-width: 20px;
    text-align: center;
  }
  .scrollIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    width: 100%;
    z-index: 997;
    top: 97%;
  }
  .hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
  }
  .bounceIcon {
    animation: bounce 1s infinite;
    font-size: 1.25rem;
    color: #1F1B17;
    margin-top: -10px;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(5px);
    }
  } 
.secondSection {
    width: 100%;
    height: 100%;
    max-height: 750px;
    padding-bottom: 75px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #F3F0EB;
    border-radius: 0px 0px 25px 25px;
    z-index: 1;
    color: #1F1B17;
}
.secondBorder {
  width: 80%;
  height: 100%;
}
.metaTitle, .venuesTitle, .DestinationTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 280px;
}
.metaTitle h2, .venuesTitle h2, .DestinationTitle h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    pointer-events: none;
    font-style: normal;
}
.metaTitle p, .DestinationTitle p {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    padding: 0;
    pointer-events: none;
}
.venuesTitle .browseAllLink {
    font-size: 1.8rem;
    font-style: italic;
    color: #F3F0EB;
    transition: 0.25s;
    text-decoration: none;
    pointer-events: visible;
    position: relative;
}
.venuesTitle .browseAllLink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #F3F0EB;
    bottom: -5px;
    border-radius: 99px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-out;
}
.venuesTitle .browseAllLink:hover::after{
    transform: scaleX(1);
}
.browseAllLinkSecond {
  display: none;
  font-size: 1.8rem;
  font-style: italic;
  color: #1F1B17;
  transition: 0.25s;
  text-decoration: none;
  position: absolute;
  right: 2.5%;
  margin-top: 25px;
}
.browseAllLinkSecond::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1F1B17;
  bottom: -5px;
  border-radius: 99px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-out;
}
.browseAllLinkSecond:hover::after{
  transform: scaleX(1);
}
.metaContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    gap: 50px;
    position: relative;
}
.metaType {
    width: 100%;
    height: 300px;
    transition: 0.15s;
    color: #1F1B17;
}
.metaType img {
    background-color: #B88A44;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 5px 5px;
    -webkit-box-shadow: 0px 0px 25px -16px rgba(31, 27, 23, 1);
    -moz-box-shadow: 0px 0px 25px -16px rgba(31, 27, 23, 1);
    box-shadow: 0px 0px 25px -16px rgba(31, 27, 23, 1);
    transition: 0.25s;
    object-fit: cover;
}
.metaType h3 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 100;
    height: 50px;
    margin-top: 0;
    display: flex;
    align-items: center;
    text-align: left;
}
.metaType:hover {
    transition: 0.25s;
    cursor: pointer;
    color: #916b2d;

    img {
        height: 285px; 
        transition: 0.25s;
    }
}
@keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
}
.skeleton .hotelTypeImagePlaceholder {
    width: 100%;
    height: 250px;
    border-radius: 25px 25px 5px 5px;
    background-color: #e0e0e0;
    animation: shimmer 1.5s infinite linear;
    background-image: linear-gradient(
      to right,
      #e0e0e0 0%,
      #f5f5f5 20%,
      #e0e0e0 40%,
      #e0e0e0 100%
    );
    background-size: 1000px 100%;
}
.skeleton .hotelTypeTextPlaceholder {
    width: 100%;
    height: 50px;
    margin-top: 0;
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
    background-image: linear-gradient(
      to right,
      #e0e0e0 0%,
      #f5f5f5 20%,
      #e0e0e0 40%,
      #e0e0e0 100%
    );
    background-size: 1000px 100%;
}
.thirdSection {
    background-color: #B88A44;
    height: 80vh;
    max-height: 750px;
    z-index: 2;
    margin-top: -50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirdBorder {
  width: 80%;
  height: 70%;
  position: relative;
}
.thirdContentRegister {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    width: 100%;
    height: 100%;
    position: relative;
}
.thirdContentLogin {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    width: 100%;
    height: 100%;
    position: relative;
}
.thirdContentRegister img, .thirdContentLogin img {
    width: 55%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    pointer-events: none;
}
.thirdInfo {
    width: 45%;
    min-width: 600px;
    color: #F3F0EB;
    position: relative;
}
.thirdInfo h2 {
    font-size: 3rem;
    pointer-events: none;
}
.thirdInfo p {
    font-size: 1.8rem;
    pointer-events: none;
}
.thirdContentLogin .thirdInfo h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  pointer-events: none;
  text-align: center;
}
.thirdContentLogin .thirdInfo h2 span {
  font-size: 3.5rem;
  font-style: italic;
  pointer-events: none;
}
.thirdContentLogin .thirdInfo h3 {
  margin-top: 10px;
  padding-top: 0;
  font-size: 1.75rem;
  text-align: center;
  pointer-events: none;
}
.thirdInfoLinks {
  margin-top: 10%;
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}
.thirdInfoLinks a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  position: relative;
  transition: 0.25s;
}
.thirdInfoLinks a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  bottom: -5px;
  border-radius: 99px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-out;
 }
 .thirdInfoLinks a:hover::after{
  transform: scaleX(1);
}
.thirdInfo button {
  margin-left: 30%;
  margin-top: 10%;
}
.fourthSection {
    margin-top: -50px;
    width: 100%;
    height: fit-content;
    padding-bottom: 75px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #F3F0EB;
    border-radius: 25px;
    z-index: 1;
    margin-bottom: 0;
}
.fourthBorder {
    width: 80%;
    height: 100%;
}
.popularHotels {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    margin-top: 50px;
}
.warningPopup {
  position: absolute;
  background-color: #B88A44;
  width: 350px;
  height: 100px;
  right: 0;
  top: -115px;
  z-index: 994;
  padding: 1rem;
  border-radius: 15px;
  color: white;
}
.popupContent {
  position: relative;
}
.popupContent h2 {
  margin: 0;
  padding: 0;
}
.closeWarningPopup {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 999px;
  border: none;
  background-color: white;
  transition: 0.25s;
}
.closeWarningPopup:hover {
  background-color: #1F1B17;
  color: white;
  transition: 0.25s;
}
.scrollSideIcon {
  display: none;
  position: absolute;
  right: 2.5%;
  top: 55%;
  transform: rotate(-90deg);
}
.fifthSection {
  width: 100%;
  height: 100%;
  max-height: 850px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #B88A44;
  margin-top: -25px;
  color: #F3F0EB;
}
.fifthBorder {
  width: 80%;
  height: 100%;
}
.fifthContent {
  width: 100%;
  height: 100%;
}
.fifthTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.fifthTitle h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    pointer-events: none;
}
.fifthTitle p {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    padding: 0;
    pointer-events: none;
}
.DestinationContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  align-items: center;
  color: #1F1B17;
}
.destinationsWrapper {
  width: 100%;
  height: fit-content;
  position: relative;
}
.destinationsContainer {
  display: flex;
  flex-direction: row;    
  justify-content: space-between;
  gap: 25px;
  margin-top: 25px;
}
.destinationCard {
  width: 300px;
  height: 475px;
  position: relative;
  padding-bottom: 25px;
  border-radius: 15px;
  transition: 0.25s;
}
.destinationCard:hover {
  cursor: pointer;
  height: 525px;
  transition: 0.25s;
}
.destinationCard:hover .exploreButton {
  transition: 0.25s;
  opacity: 1;
}
.destinationCard:hover .destinationInfo p {
  display: none;
  transition: 0.25s;
}
.destinationImageContainer {
  height: 75%;
  width: 100%;
  position: relative;
}
.destinationImageContainer img {
  border-radius: 15px 15px 5px 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.25s;
    -webkit-box-shadow: 0px 0px 25px -16px rgba(31, 27, 23, 1);
    -moz-box-shadow: 0px 0px 25px -16px rgba(31, 27, 23, 1);
    box-shadow: 0px 0px 25px -16px rgba(31, 27, 23, 1);
}
.destinationInfo {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.destinationInfo h3 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  transition: 0.25s;
}
.destinationInfo p {
  font-style: italic;
  font-size: 1.125rem;
  transition: 0.25s;
}
.exploreButton {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  opacity: 0;
  transition: 0.25s;
  color: #916b2d;;
  font-size: 1rem;
  margin-top: 5px;
}
@media (max-width:1024px) {
  .heroSection {
  width: 95.6%;
}

.secondBorder, .thirdBorder, .fourthBorder, .fifthBorder {
  width: 90%;
}
}
@media (max-width:725px){
  .heroSection {
    width: 100%;
  }
  .edgeLeft, .edgeRight {
    display: none;
  }
  .filterContentSecond {
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 0px;
  }
  .filtersColumns .filterDestination input, .filtersColumns .filterCalender input, .filtersColumns .filterPeople input, .guestSelector p{
    font-size: 0.8rem;
  }
  .filterDestination i, .filterCalender i, .filterPeople i {
    font-size: 1rem;
  }
  .filterDestination {
    min-width: 150px;
  }
  .filterCalender .startDateFilter, .filterCalender .endDateFilter {
    min-width: 100px;
  }
  .guestSelector {
    min-width: 75px;
  }
  .filtersColumnsBottom {
    gap: 5px;
    margin: 0;
  }
}
@media (max-width: 700px) {
  .firstSection {
    height: 70vh;
  }
}
@media (max-width:600px) {
  .filterDestination i, .filterCalender i, .filterPeople i {
    font-size: 1rem;
  }
  .filterDestination input, .filterCalender input, .guestSelector p  {
    font-size: 1rem;
  }
}
@media (max-width:500px){
  .heroSection {
    width: 100%;
  }
  .edgeLeft, .edgeRight {
    display: none;
  }
  .filterContentSecond {
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 0px;
  }
  .filtersColumns .filterDestination input, .filtersColumns .filterCalender input, .filtersColumns .filterPeople input, .guestSelector p{
    font-size: 0.8rem;
  }
  .filterDestination i, .filterCalender i, .filterPeople i {
    font-size: 1rem;
  }
  .filterDestination {
    min-width: 150px;
  }
  .filterCalender .startDateFilter, .filterCalender .endDateFilter {
    min-width: 100px;
  }
  .guestSelector {
    min-width: 75px;
  }
  .filtersColumnsBottom {
    gap: 5px;
    margin: 0;
  }
}