.hotelCard {
    width: 100%;
    min-width: 100px;
    height: 425px;
    max-height: 425px;
    position: relative;
    border-radius: 25px 25px 5px 5px;
    transition: 0.25s;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: transparent;
}

.hotelImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 25px 25px 5px 5px;
    -webkit-box-shadow: 0px 0px 25px -16px rgba(31, 27, 23, 1);
    -moz-box-shadow: 0px 0px 25px -16px rgba(31, 27, 23, 1);
    box-shadow: 0px 0px 25px -16px rgba(31, 27, 23, 1);
    background-image: url(/media/logo/loadingScreen.png);
    background-position: center;
    transition: 0.25s;
    flex-shrink: 0;
}

.starRating {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  width: 100px;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  padding-bottom: 2.5px;
  color: #1F1B17;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 1;
}

.starRating img {
  width: 15px;
  height: 15px;
}

.starRating span {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.hotelInfo {
    color: #1F1B17;
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    transition: 0.25s;
    padding: 15px 10px 10px 10px;
    flex-grow: 1;
    position: relative;
    height: 200px;
}

.hotelInfo h3 {
    font-size: 22px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}

.hotelLocation {
    font-size: 19px;
    margin: 0;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
}

.hotelPrice {
    margin-top: 5px;
    font-size: 15px;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 25px;
}

.hotelPrice p {
  opacity: 75%;
  font-size: 14px;
  margin: 0;
}

.hotelPrice strong {
    font-weight: 700;
    font-size: 18px;
    opacity: 100%;
}

.seeMore {
    width: 95%;
    text-align: right;
    text-decoration: underline;
    color: #B88A44;
    font-size: 18px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.25s;
}

.hotelCard:hover {
  cursor: pointer;
  height: 425px;
  transition: 0.25s;
  background-color: white;
}

.hotelCard:hover .hotelInfo {
  transition: 0.25s;
}

.hotelCard:hover .seeMore {
  opacity: 1;
}

.hotelCard:hover .hotelImage {
  transition: 0.25s;
  border-radius: 25px 25px 0px 0px;
  height: 275px;
}

.loadingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
  
.loadingImage {
  background-color: #bbb6b6;
  width: 100%;
  height: 250px;
  border-radius: 25px 25px 5px 5px;
}
  
  .loadingInfo {
    width: 100%;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    flex-grow: 1;
    color: #bbb6b6;
    display: flex;
    flex-direction: column;
  }
  
  .loadingLine {
    background-color: #bbb6b6;
    height: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    animation: loadingAnimation 1.5s infinite ease-in-out;
  }
  
  @keyframes loadingAnimation {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0.3;
    }
  }

  @media (max-width:500px) {
    .hotelCard {
      height: 350px;
      background-color: white;
      margin-bottom: 50px;
    }
    
    .hotelImage {
      height: 275px;
    }
  }