.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .popupContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .popupContent p {
    font-size: 2rem;
  }
  
  .popupActions {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .yesButton {
    background-color: #B88A44;
    font-size: 1.125rem;
    border: none;
    color: #1F1B17;
    border-radius: 15px;
    width: 50px;
    height: 25px;
    text-align: center;
    transition: 0.25s;
  }

  .yesButton:hover, .noButton:hover {
    cursor: pointer;
    transition: 0.25s;
    background-color: #6B7A3A;
    color: #1F1B17;
  }

  .noButton {
    background-color: #1F1B17;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius: 15px;
    width: 50px;
    height: 25px;
    text-align: center;
    transition: 0.25s;
  }




.popupWrapper {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.bar {
  position: absolute;
  background-color: #4caf50;
  z-index: 1;
  border-radius: 99px;
}

/* TOP bar: from center to left */
.topBar {
  top: 0px;
  left: 50%;
  height: 4px;
  width: 0;
  animation: topBarAnim 0.4s linear forwards;
  animation-delay: 0s;
}

/* LEFT bar: from top to bottom */
.leftBar {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 0;
  animation: leftBarAnim 0.4s linear forwards;
  animation-delay: 0.4s;
}

/* BOTTOM bar: from left to right */
.bottomBar {
  bottom: 0px;
  left: 0px;
  height: 4px;
  width: 0;
  animation: bottomBarAnim 0.4s linear forwards;
  animation-delay: 0.8s;
}

/* RIGHT bar: from bottom to top */
.rightBar {
  top: auto;
  bottom: 0px;
  right: 0px;
  width: 4px;
  height: 0;
  animation: rightBarAnim 0.4s linear forwards;
  animation-delay: 1.2s;
}

/* Final TOP segment: right to center */
.topBarFinish {
  top: 0px;
  right: 0;
  height: 4px;
  width: 0;
  animation: topBarFinishAnim 0.4s linear forwards;
  animation-delay: 1.6s;
}

/* Popup content sits on top */
.popupContent {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 2;
}

/* Animations */
@keyframes topBarAnim {
  to {
    left: 0px;
    width: 50%;
  }
}

@keyframes leftBarAnim {
  to {
    height: 100%;
    top: 0px;
  }
}

@keyframes bottomBarAnim {
  to {
    width: 100%;
    left: 0px;
  }
}

@keyframes rightBarAnim {
  to {
    height: 100%;
  }
}

@keyframes topBarFinishAnim {
  to {
    width: 50%;
    right: 0px;
  }
}
