.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 777;
  }
  .popupContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .popupContent p {
    font-size: 2rem;
  }
  