.splitSlideshow {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.lane {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.lane.right {
  right: 0;
}
.stack {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 3s cubic-bezier(0.7, 0, 0.3, 1);
  width: 100%;
}
.slice {
  height: 100vh;
  width: 100%;
  position: relative;
}
.leftWrapper,
.rightWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fullImage {
  position: absolute;
  top: 0;
  height: 100%;
  width: 200%;
  object-fit: cover;
}
.leftWrapper .fullImage {
  left: 0;
}
.rightWrapper .fullImage {
  left: -100%;
}
.bannerText {
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 0s; 
  pointer-events: none;
}
.bannerText h1 {
  font-size: 200px;
  margin: 0;
  padding: 0;
  font-family: "Judson", serif;
}
.bannerText span {
  margin: 0;
  padding: 0;
  font-size: 40px;
  margin-top: -35px;
}
.bannerText h2,
.bannerText h3,
.bannerText p {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}
.bannerText h1,
.bannerText span,
.bannerText h2,
.bannerText h3,
.bannerText p {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}
.bannerText h3 {
  font-size: 80px;
  margin-bottom: -45px;
}
.bannerText h2 {
  font-size: 200px;
  margin-top: -15px;
}
.bannerText p {
  font-style: italic;
  font-size: 35px;
  margin-top: -22.5px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.paginationDots {
  position: absolute;
  left: 95%;
  top: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
  background-color: #1f1b1741;
  padding: 7.5px;
  border-radius: 7.5px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.slideDot {
  background-color: transparent;
  border-radius: 99px;
  width: 17px;
  height: 17px;
  border: solid 2px white;
  transition: 0.25s;
  cursor: pointer;
}
.slideDot:not(.active):hover {
  background-color: white;
  transition: 0.25s;
}
.active {
  background-color: white;
  transition: 0.25s;
}
.active:hover {
  background-color: #6B7A3A;
  border-color: #6B7A3A;
  transition: 0.25s;
}

@media (max-width:1375px) {
  .paginationDots {
    top: 37%;
  }
}
@media (max-width: 1024px) {
  .bannerText h1 {
    font-size: 145px;
  }
  .bannerText span {
    font-size: 30px;
    margin-top: -35px;
  }
  .bannerText h3 {
    font-size: 50px;
    margin-bottom: -20px;
  }
  .bannerText h2 {
    font-size: 140px;
  }
  .bannerText p {
    font-style: italic;
    font-size: 25px;
    margin-top: -10px;
  }
}
@media (max-width: 700px) {
  .splitSlideshow {
    height: 70vh;
  }
  .paginationDots {
    top: 46.25vh;
    left: 50%;
    transform: translate(-50%);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 7.5px 7.5px 0px 0px;
  }
  .slideDot {
    width: 12px;
    height: 12px;
    border: solid 1px white;
  }
  .bannerText {
    height: 80%;
  }
  .bannerText h1 {
    font-size: 110px;
  }
  .bannerText span {
    font-size: 25px;
    margin-top: -15px;
  }
  .bannerText h3 {
    font-size: 40px;
    margin-bottom: -10px;
  }
  .bannerText h2 {
    font-size: 100px;
  }
  .bannerText p {
    font-style: italic;
    font-size: 25px;
    margin-top: -10px;
  }
}
@media (max-width: 405px) {
  .bannerText h1 {
    font-size: 75px;
  }
  .bannerText span {
    font-size: 15px;
  }
  .bannerText h3 {
    font-size: 25px;
  }
  .bannerText h2 {
    font-size: 70px;
  }
  .bannerText p {
    font-size: 20px;
  }
  .paginationDots {
    gap: 25px;
  }
}
@media (max-width: 320px) {
  .bannerText h1 {
    font-size: 60px;
  }
  .bannerText span {
    font-size: 12px;
  }
  .bannerText h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .bannerText h2 {
    font-size: 55px;
  }
  .bannerText p {
    margin-top: 0;
    font-size: 10px;
  }
}