/*
.carouselViewport {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slideStack {
  display: flex;
  flex-direction: column;
  transition: transform 0.8s ease-in-out;
}

.slide {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerText {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  color: #F3F0EB;
  text-align: center;
  pointer-events: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
*/
.carouselViewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  border-radius: 25px;
}

.lane {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.lane.right {
  right: 0;
}
.lane:not(.right) {
  left: 0;
}

.stack {
  display: flex;
  flex-direction: column;
  transition: transform 1.5s ease-in-out;
}

.slice {
  height: 100vh;
  position: relative;
}

.leftHalf {
  width: 200%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transform: translateX(0);
}

.rightHalf {
  width: 200%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  transform: translateX(-50%);
}

.leftWrapper,
.rightWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.fullImage {
  position: absolute;
  top: 0;
  height: 100%;
  width: 200%;
  object-fit: cover;
}

.leftWrapper .fullImage {
  left: 0;
}

.rightWrapper .fullImage {
  left: -100%;
}

.bannerText {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  color: white;
}

.bannerText h1 { 
  font-size: 12.5rem; 
  margin:0; 
  padding: 0; 
  position: absolute;
  top: 32.5%;
  transform: translate(-50%);
  left: 50%;
  width: 100%;
  text-align: center;
}

.bannerText h2 { 
  font-size: 4rem;   
  padding: 0; 
  top: -10%;
  margin:0 0 -25px 0;
  position: absolute;
  top: 30%;
  transform: translate(-50%);
  left: 50%;  
  width: 100%;
  text-align: center;
}

.bannerText p  { 
  font-size: 2rem;    
  font-style: italic; 
  margin:-25px 0 0 0; 
  padding: 0; 
  position: absolute;
  top: 57.5%;
  transform: translate(-50%);
  left: 50%;
  width: 100%;
  text-align: center;
}

.bannerText span { 
  font-size: 2.813rem; 
  margin: 0;
  padding: 0;
  top: 54%;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  width: 100%;
  text-align: center;
}

@keyframes laneUp {
  0%,
  16.66%  { transform: translateY(0); }
  20%,
  36.66%  { transform: translateY(-100vh); }
  40%,
  56.66%  { transform: translateY(-200vh); }
  60%,
  76.66%  { transform: translateY(-300vh); }
  80%,
  96.66%  { transform: translateY(-400vh); }
  100%     { transform: translateY(-400vh); }
}

@keyframes laneDown {
  0%,
  16.66%  { transform: translateY(-400vh); }
  20%,
  36.66%  { transform: translateY(-300vh); }
  40%,
  56.66%  { transform: translateY(-200vh); }
  60%,
  76.66%  { transform: translateY(-100vh); }
  80%,
  96.66%  { transform: translateY(0); }
  100%     { transform: translateY(0); }
}

.progressDots {
  position: absolute;
  right: 2.5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 20;
  transition: 0.25s;
}

.dot,
.dotActive {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: 0.25s;
}

.dotActive {
  background: #fff;
}

.dot:hover {
  transition: 0.25s;
  cursor: pointer;
  background-color: white;
}

.dotActive:hover {
  transition: 0.25s;
  cursor: pointer;
  background-color:#6B7A3A;
  border-color: #6B7A3A;
}