.searchbarContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
  
.searchbarContainer i {
  position: absolute;
  left: 0;
  z-index: 2;
  margin-left: 5px;
  height: 45px;
  width: 40px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  background-color: transparent;
  color: #666;
}

.searchbarContainer input {
  border: none;
  height: 45px;
  border-radius: 10px;
  min-width: 225px;
  padding-left: 50px;
  margin-left: 2.5px;
  width: 100%;
  font-size: 1rem;
  z-index: 1;
  background-color: white;
  transition: all 0.2s ease;
  border: 1px solid #ddd;
}

.searchbarContainer input:focus {
  outline: solid 2px #B88A44;
  border: none;
  background-color: white;
}

.SearchbarSuggestionsWrapper {
  display: none;
}

.SearchbarSuggestionsList {
  display: none;
}

.suggestionItem {
  display: none;
}

@media (max-width:380px){
  .searchbarContainer input {
    font-size: 0.8rem;
    padding-left: 40px;
    height: 35px;
    min-width: 100px;
  }
  .searchbarContainer i {
    font-size: 1rem;
    height: 35px;
  }
}