.searchbarContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .searchbarContainer i {
    position: absolute;
    left: 0;
    margin-left: -2px;
    z-index: 2;
    border: solid 4px #1F1B17;
    height: 36px;
    width: 37px;
    border-radius: 99px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    background-color: white;
  }

  .searchbarContainer input {
    border: none;
    height: 45px;
    border-radius: 15px;
    min-width: 225px;
    padding-left: 50px;
    margin-left: 2.5px;
    width: 100%;
    font-size: 1.125rem;
    z-index: 1;
  }