.pageContent {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 50px;
}
.pageContent button, .pageContent input, .pageContent label{
  font-family: "Playfair Display", serif;
}
.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 75px;
  gap: 50px;
}

.profileContentTop {
  height: 550px;
  width: 100%;
  position: relative;
}
.profileContentTop .profileTop {
  height: 350px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.profileContentTop .profileBanner {
  height: 350px;
  width: 100%;
  z-index: 1;
  border-radius: 25px;
}
.profileContentTop .profileBanner img {
  border-radius: 25px;
}
.profileContentTop .profileBanner img, .profileContentTop .profileAvatarContent .profileAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileContentTop .profileAvatarContent .bannerEdgeLeft, .profileContentTop .profileAvatarContent .bannerEdgeRight {
  width: 15px;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.profileContentTop .profileAvatarContent .bannerEdgeRight {
  left: 140px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.profileContentTop .profileAvatarContent .profileAvatar {
  position: absolute;
  height: 175px;
  width: 175px;
  z-index: 2;
  bottom: -10px;
  margin-left: 40px;
  border-radius: 99px 99px 15px 15px;
}
.profileContentTop .profileAvatarContent .profileAvatar  {
  border-radius: 99px 99px 15px 15px;
}
.profileEdgeLeft, .profileEdgeRight {
  position: absolute;
  width: 25px;
  height: 25px;
  max-height: 20px;
  max-width: 25px;
  object-fit: contain;
  z-index: 1;
  bottom: -2px;
}
.profileEdgeLeft {
  left: 17px;
}
.profileEdgeRight{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: 210px;
}
.profileContentInfo {
  margin-left: 40px;
  margin-top: 25px;
  min-width: 250px;
}
.profileContentInfo h2 {
  margin-top: 50px;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
.profileContentInfo p {
  font-size: 1.5rem;
  margin-top: 5px;
  font-style: italic;
}
.profileContentInfo .profileRating {
  margin-top: -5px;
  margin-bottom: 35px;
  font-size: 1.125rem;
}
.profileContentInfo .profileRating span {
  opacity: 75%;
  font-size: 1rem;
}
.profileContentInfo .profileRating img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}


.rightSection {
  width: 95%;
  position: relative;
  flex-grow: 1;
}
.rightBorder {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.rightBorder h2 {
  font-size: 3rem;
  pointer-events: none;
  margin: 0;
  padding: 0;
}
.venuesTitle, .editTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  align-items: center;
}
.venuesFilter {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-end;
}
.adminVenues {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  margin-top: 50px;
}
.allVenues, .allEdits {
  margin-top: 50px;
}
.allEdits {
  height: 300px;
  position: relative;
}
.allEdits .editForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.editForm input {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  padding-left: 10px;
  height: 35px;
  border-radius: 15px;
  border: none;
}
.editForm label {
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blurred {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  scroll-behavior: none;
}  
.blurWrapper {
  width: 100%;
  height: 100%;
}  
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 27, 23, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.popup {
  background: #fffefb;
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #1F1B17;
}
.popup h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.popup p {
  font-size: 1.125rem;
}
.venues {
  margin-top: 50px;
  scroll-margin-top: 100px;
}
.edit {
  scroll-margin-top: 100px;
}
.allVenues {
  height: 100%;
}
.adminVenues {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  max-width: 100%;
  gap: 25px;
  position: relative;
  align-items: start;
  height: 100%;
}
.adminVenues > * {
  aspect-ratio: 3 / 4;
  max-width: 400px;
  width: 100%;
  height: 100%;
  justify-self: center;
}
.no-scroll {
  overflow: hidden;
}  

.dashViewProfile {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: none;
}
.dashProfileTop {
  height: 350px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.dashProfileBanner {
  height: 400px;
  width: 100%;
  z-index: 1;
}
.dashProfileBanner img, .dashProfileAvatar .dashAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bannerEdgeLeft, .bannerEdgeRight {
  width: 15px;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.bannerEdgeRight {
  left: 140px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.dashProfileAvatar .dashAvatar {
  position: absolute;
  height: 125px;
  width: 125px;
  z-index: 2;
  bottom: -10px;
  margin-left: 15px;
  border-radius: 99px 99px 15px 15px;
}
.dashProfileAvatar .dashAvatar  {
  border-radius: 99px 99px 15px 15px;
}
.dashProfileInfo {
  margin-top: 10px;
  margin-left: 15px;
}
.dashProfileInfo h2 {
  margin-top: 35px;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.dashProfileInfo p {
  font-size: 1.125rem;
  margin-top: 5px;
  font-style: italic;
}
.dashRating {
  margin-top: -5px;
  margin-bottom: 35px;
  font-size: 1rem;
}
.dashRating span {
  opacity: 75%;
  font-size: 0.9rem;
}
.dashRating img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.dashBio {
  font-size: 1.125rem;
  width: 95%;
}
.dashBottom {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.dashBottom h3 {
  font-size: 1.75rem;
}
.dashDivideLine {
  height: 1px;
  width: 95%;
  background-color: #1F1B17;
  margin-top: 25px;
  margin-bottom: 25px;
}
.dashVenuesTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 15px;
}
.dashEdit .allEdits {
  width: 95%;
}



@media (max-width:1025px){
.profilePage {
  width: 90%;
  margin-left: 5%;
}
}
@media (max-width:425px){
  .leftSection, .rightSection {
    display: none;
  }

  .profilePage {
  margin: 0;
  width: 100%;
  padding: 0;
 }
 .dashViewProfile {
  display: block;
 }
}