footer {
    background-color: #1F1B17;
    height: 425px;
    width: 100%;
    z-index: 998;
    margin-top: 0;
    margin-bottom: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.footerEdgeRight {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -23px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.footerEdgeLeft {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -23px;
}
.footerBorder {
  color: #F3F0EB;
  width: 80%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}
.footerTitles {
    margin-top: -15px;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.footerTitles a {
  text-decoration: none;
  color: #F3F0EB;
}
.footerTitles h2 {
    font-size: 120px;
    margin: 0;
    padding: 0;
    width: 490px;
}
.footerTitles p {
    margin: 0;
    padding: 0;
    margin-top: -15px;
    font-size: 25px;
    width: 490px;
    text-align: right;
}
.footerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 80%;
  margin-top: 100px;
  width: 60%;
}
.footerRight a {
  color: #F3F0EB;
  text-decoration: none;
  text-align: left;
  position: relative;
}
.footerRight a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #F3F0EB;
  bottom: -5px;
  border-radius: 99px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-out;
}
.footerRight a:hover::after{
  transform: scaleX(1);
}
.footerRight h3 {
  font-size: 1.5rem;
}
.footerRight p {
  font-size: 1.125rem;
}
.divideLine {
  height: 175px;
  width: 0.5px;
  background-color: #F3F0EB;
  border-radius: 99px;
  margin-left: 25px;
  margin-right: 25px;
}
.FooterLinks {
  height: inherit;
  width: fit-content;
}
@media (max-width:1180px) {
.footerTitles h2 {
    font-size: 90px;
    width: 370px;
}
.footerTitles p {
  font-size: 20px;
  width: 370px;
}
}
@media (max-width:1024px) {
  .footerBorder {
    width: 85%;
}
.footerRight h3 {
  font-size: 1.25rem;
}
.footerRight p {
  font-size: 0.9rem;
}
.divideLine {
  height: 150px;
}
}
@media (max-width:950px) {
.footerTitles {
  width: 365px;
}
.footerBorder {
  gap: 25px;
}
}
@media (max-width:875px) {
.footerBorder {
  margin-top: 50px;
  gap: 75px;
  flex-direction: column;
}
.footerRight {
  height: 400px;
  margin-top: 0px;
  justify-content: center;
}
.footerTitles {
  width: 100%;
  text-align: center;
  height: 125px;
}
.footerTitles h2 {
  width: 100%;
}
.footerTitles p {
  width: 72%;
}
.footerRight {
  width: 100%;
}
}
@media (max-width:420px) {
  footer {
    height: 350px;
    padding-bottom: 25px;
  }
  .footerTitles h2 {
    font-size: 60px;
    width: 100%;
}
.footerTitles p {
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.footerRight {
  margin-top: -25px;
}
.FooterLinks h3 {
  font-size: 1rem;
}
.FooterLinks p {
  font-size: 0.8rem;
}
.divideLine {
  height: 125px;
}
}

@media (max-width:345px) {
  footer {
    height: fit-content;
  }
  .footerTitles {
    height:100px;
    margin-top: -35px;
    margin-bottom: -35px;
  }
  .footerTitles h2 {
    font-size: 50px;
  }
  .footerTitles p {
    font-size: 12px;
    margin-top: -10px;
  }
  .footerRight {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .divideLine {
    height: 1px;
    width: 80%;
  }
}