@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*

Brown: #1F1B17
Gold: #B88A44
Green: #6B7A3A
Cream: #F3F0EB

*/

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F3F0EB;
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 100%;
}

h2, h3, p, span, input, a {
    font-family: "Playfair Display", serif;
}

h1 {
    font-family: "Judson", serif;
    font-weight: 800;
    font-style: normal;
}

.pageContent {
    transition: filter 0.3s ease;
  }
  
  .pageContent.blurred {
    filter: blur(25px);
    pointer-events: none;
  }
  
  .testBlurred {
    filter: blur(25px);
  }