@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*
Brown: #1F1B17
Gold: #B88A44
Green: #6B7A3A
Cream: #F3F0EB
*/

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: auto;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.pageContentWrapper {
    overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #F3F0EB;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

h2, h3, p, span, input, a {
    font-family: "Playfair Display", serif;
}

h1 {
    font-family: "Judson", serif;
    font-weight: 800;
    font-style: normal;
}

.pageContent {
    transition: filter 0.3s ease;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    flex: 1;
  }
  
  .pageContent.blurred {
    filter: blur(5px);
    pointer-events: none;
  }
  
  .testBlurred {
    filter: blur(5px);
  }

  .blurred {
    filter: blur(5px);
    transition: filter 0.3s ease;
    pointer-events: none;
  }

  @media (max-width:425px) {
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.9rem;
    }
  }