.pageContent {
    min-height: 110vh;
    margin-top: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 200px;
}

.pageStyle {
    width: 95%;
    position: relative;
}

.slideshowSection {
    background-color: white;
    border-radius: 10px;
    width: calc(100% - 10px);
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.slideshowLeft {
    width: 20%;
    height: calc(100%-10px);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    margin-right: 0px;
    overflow: hidden;
}

.previewImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer; 
    transition: transform 0.3s ease-in-out;
}

.slideshowRight {
    width: 100%;
    height: calc(100%-10px);
    position: relative;
    margin: 10px;
    border-radius: 5px;
}

.slideshowRight img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.slideshowLeft img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.slideshowButtons {
    position: absolute;
    width: 100.5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slideshowButtons img {
    width: 45px;
    height: 99px;
    object-fit: contain; 
    cursor: pointer;
}

.slideshowButtonPrev {
    transform: scaleX(-1);
}

.noSlideshow {
    position: relative;
    width: 100%;
    height: calc(100%-10px);
    margin: 10px;
    position: relative;
}

.noSlideshow img {
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.scrollIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    margin-top: 2.8rem;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    width: 100%;
  }
  
  .hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
  }
  
  .bounceIcon {
    animation: bounce 1.5s infinite;
    font-size: 1.5rem;
    color: #1F1B17;
    margin-top: -10px;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(20px);
    }
  }  

.titleLocation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    font-family: "Playfair Display", serif;
}

.titleLocation h1 {
    font-size: 3.438rem;
}

.titleLocation p {
    font-size: 1.875rem;
    font-weight: 400;
}

.titleLocation i {
    margin-right: 15px;
    font-size: 20px;
}

.hotelInfo {
    font-size: 1.5rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    font-family: "Playfair Display", serif;
}

.hotelInfoLeft {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hotelInfoRight {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 1.5rem;
}

.hotelRating {
    font-size: 2rem;
    margin-top: 0;
}

.bookButton {
    background-color: #B88A44;
    color: #F3F0EB;
    border: none;
    height: 65px;
    width: 240px;
    font-size: 2rem;
    border-radius: 999px;
    transition: 0.15s;
    font-family: "Playfair Display", serif;
}

.bookButton:hover {
    cursor: pointer;
    transition: 0.25s;
    background-color: #6B7A3A;
}
