.pageContent {
    width: 100%;
    height: 105vh;
    top: 0;
    padding-top: 0;
    margin-top: 0;
    margin-top: -25px;
    background-image: url(/media/images/banner2.png);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Playfair Display", serif;
    color: #000000;
    overflow: hidden;
}

.registerStyle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.registerContent { 
    background-color: #f3f0eb;
    height: 75%;
    margin-top: 2.5%;
    padding: 1rem;
    border-radius: 10px;
    width: 35rem;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.registerContent h2 {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
    margin-top: 2.5rem;
    text-align: center;
}

.registerContent h1 {
    font-size: 2.5rem;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    text-align: center;
}

.registerContent p {
    text-align: center;
}

.inputForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 50%;
    margin-top: 15%;
    justify-content: flex-start;
    align-items: center;
    font-family: "Playfair Display", serif;
}

.inputFormInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  gap: 2rem;
}

.nameInputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.nameInputs input {
    width: 100%;
}

.inputForm input {
    height: 2.125rem;
    font-size: 1.125rem;
    font-family: "Playfair Display", serif;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.BottomOptions {
    position: absolute;
    padding-bottom: 2rem;
    bottom: 0;
    text-align: center;
    font-size: 1.125rem;
    width: calc(100% - 2.25rem);
}

.BottomOptions a {
    color: #6B522D;
    font-size: 1.125rem;
    font-family: "Playfair Display", serif;
}

.active {
    opacity: 1;
    cursor: pointer;
}

.active:hover{
    cursor: pointer;
    transition: 0.25s;
    background-color: #6B7A3A;
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
  }

  .error {
    font-size: 1rem;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%);
    color: #D8000C;
  }

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-8px); }
    40% { transform: translateX(8px); }
    60% { transform: translateX(-6px); }
    80% { transform: translateX(6px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.4s ease-in-out;
  }
  